<div class="container row">
  <div class="accordion accordion-flush" id="accordionFlushExample">
    <div class="accordion-item" *ngFor="let curriculo of curriculos; let i = index">
      <h2 class="accordion-header" id="{{ curriculo.id }}">
        <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse"
          [attr.data-bs-target]="'#flush-collapse' + i" aria-expanded="false"
          [attr.aria-controls]="'flush-collapse' + i"
          (click)="selectCurriculo( curriculo.id )">
          <div class="d-flex justify-content-between w-100">
            <div class="mr-auto p-2">
              <strong>{{ curriculo.name }}</strong>
            </div>
            <div class="ml-auto p-2">
              <strong><span>Status: </span></strong> <span>{{curriculo.status}}</span>
            </div>
          </div>
        </button>
      </h2>
      <div [id]="'flush-collapse' + i" class="accordion-collapse collapse" aria-labelledby="i"
        [attr.data-bs-parent]="'#accordionFlushExample'">

        <div class="accordion-body border mb-2">
          <div class="d-flex justify-content-between w-100">
            <div class="mr-auto p-2 w-50">
              <strong><span>Nome: </span></strong> <span> {{ curriculo.name }} </span> <br />
              <strong><span>Email: </span></strong> <span> {{ curriculo.email }}</span><br />
              <strong><span>CPF: </span></strong> <span> {{ curriculo.cpf }}</span><br />
              <strong><span>Telefone: </span></strong> <span> {{ curriculo.phone }}</span><br />
              <strong><span>Data de Nascimento: </span></strong> <span> {{ curriculo.born }}</span><br />
              <strong><span>Escolaridade: </span></strong> <span> {{ curriculo.education }}</span><br />
              <strong><span>Função: </span></strong> <span> {{ curriculo.func }}</span><br />
            </div>
            <div class="ml-auto p-2 w-50 mb-2">
              <select class="form-select w-50" aria-label="Default select example" [(ngModel)]="selectedStatus" name="status" (select)="selectCurriculo(curriculo.id)">
                <option value="" disabled selected>Status</option>
                <option value="Aguardando">Aguardando</option>
                <option value="Aprovado">Aprovado</option>
                <option value="Reprovado">Reprovado</option>
              </select>
              <button class="btn w-50 mt-2" (click)="setNewStatus( curriculo.id )">Atualizar Status</button>
            </div>
          </div>

          <hr>
          <strong><span>Competências:</span></strong>
          <div *ngFor="let skill of curriculo.skills">
            <p><strong>Name:</strong> {{ skill.name }} <br>
              <strong>Descrição:</strong> {{ skill.description }} <br>
              <strong>Level:</strong> {{ skill.level }}
            </p>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
<div class="mb-4 w-100 h-25"></div>