.centralizar{
  display: flex;
  flex-direction: column;
  margin-top: 5%;
  align-items: center;
}
button {
  border: none;
  padding: 10px 20px;
  cursor: pointer;
}
.container {
  margin: 5%;
  width: 90%;
  margin-bottom: 100px;
}

button{
  background-color: #23d5ab;
  color:#465A65;
  font-weight: 500;
  text-align: center;

}

card{
  background-color: #465A65;
  width: 100px;
  height: 100px;
  margin: 5px;
}