<link href="https://fonts.googleapis.com/icon?family=Material+Icons+Sharp" rel="stylesheet">
<!-- Sidebar Section -->
<aside>
  <div class="sidebar">
    <a href="admin/users">
      <span class="material-icons-sharp mb-2">
        person_outline
      </span>
      <h3>Users</h3>
    </a>

    <a href="admin/curriculos">
      <span class="material-icons-sharp">
        description
      </span>
      <h3>Currículos</h3>
      <div class="circulo">
        <span class="message-count">{{ getQuantCurriculos() }}</span>
      </div>
    </a>

    <a href="admin/analytics">
      <span class="material-icons-sharp">
        query_stats
      </span>
      <h3>Analytics</h3>
    </a>

  </div>
  <div>
    <button class="btn btn-danger d-flex justify-content-center align-items-center" (click)="logout()">
      <span class="material-icons-sharp mb-2 p-2">
        logout
      </span>
      <h3 class="pt-2">Logout</h3>
    </button>
  </div>
</aside>
<!-- End of Sidebar Section -->