.header{
  display: flex;
  align-items: center;

}
.header a {
  display: flex;
  align-items: center;
  text-decoration: none;
}
.header .logo{
  filter: hue-rotate(320deg);
  max-height: 60px;
  width: auto;
}
.header .title-group{
  padding-right: 30px;
}
.esconder-elemento {
  display: none;
}
