<!-- dashboard.component.html -->
<app-header></app-header>
<div class="row animated_background d-flex justify-content-center ">
  <!-- Formulário de Criação de Currículo -->
  <form [formGroup]="curriculo" class="col-6 gap-2 text-center d-flex flex-column align-items-center">
    <h1>Criar Um Novo Currículo</h1>
    <div class="form-group">
      <label for="name">Nome Completo:</label>
      <input class="form-control" formControlName="name" type="text" id="name" name="name" >
    </div>

    <div class="form-group">
      <label for="cpf">CPF:</label>
      <input class="form-control" formControlName="cpf" mask="000.000.000-00" type="text" id="cpf" name="cpf" >
    </div>

    <div class="form-group">
      <label for="email">E-mail:</label>
      <input class="form-control" formControlName="email" type="email" id="email" name="email" >
    </div>

    <div class="form-group">
      <label for="phone">Telefone:</label>
      <input class="form-control" formControlName="phone" mask="(00)00000.0000" type="tel" id="phone" name="phone">
    </div>
    <div class="d-flex w-100">
      <div class="form-group ">
        <label for="born">Data de Nascimento:</label>
        <input class="form-control text-center" formControlName="born" type="date" id="born" name="born" required>
      </div>

      <div class="form-group">
        <label for="education">Escolaridade:</label>
        <select class="form-control text-center" formControlName="education" id="education" name="education" required>
          <option value="Analfabeto">Analfabeto</option>
          <option value="Fundamental Completo">Fundamental Completo</option>
          <option value="Médio Incompleto">Médio Incompleto</option>
          <option value="Médio Completo" selected>Médio Completo</option>
          <option value="Superior Incompleto">Superior Incompleto</option>
          <option value="Superior Completo">Superior Completo</option>
          <option value="Mestrado">Mestrado</option>
          <option value="Doutorado">Doutorado</option>
          <option value="Ignorado">Ignorado</option>
        </select>
      </div>
    </div>

    <div class="form-group">
      <label for="func">Função:</label>
      <input class="form-control" formControlName="func" type="text" id="func" name="func" required>
    </div>

    <div class="form-group">
      <label for="skills">Lista de Competências:</label>
      <div class="skills">
        <div formArrayName="skills">
          <div *ngFor="let skill of skills.controls; let i = index">
            <div [formGroupName]="i">
              <label class="text-left" for="skills">Competência</label>
              <div class="d-flex mb-2">
                <input class="form-control w-50" formControlName="name" type="text" id="skills" placeholder="Competência">
                <select class="form-control w-50" formControlName="level" name="proficiencia">
                  <option value="Básico">Básico</option>
                  <option value="Intermediário">Intermediário</option>
                  <option value="Avançado">Avançado</option>
                </select>
              </div>
              <div class="d-flex">
                <input class="form-control w-75" type="text" formControlName="description" placeholder="Descrição da Competência">
                <button class="btn btn-danger w-25" (click)="removeCompetencia(i)">Remover</button>
              </div>
            </div>
          </div>
        </div>
      </div>
      <button class="btn btn-info mt-2" (click)="addCompetencia()">Adicionar outra competência?</button>
    </div>
    <button type="button" class="btn btn-primary btn_save mb-4" (click)="submitCurriculo()">Salvar Currículo</button>
  </form>
</div>
<app-footer></app-footer>