<app-header></app-header>
<div class="row">
  <app-aside class="col-0 col-sm-2"></app-aside>
  <div class="centralizar col-12 col-sm-10">
    <h1>Welcome, {{ loggedInUser }}!</h1>
    <h2>Currículos Cadastrados</h2>
    <router-outlet></router-outlet>
    <div class="container row border">
      <ng-container class="col-12 col-mb-3" *ngFor="let curriculo of curriculos">
        <div class="card col-12 p-2 mb-2">
          <div class="card-body row d-flex">
            <div class="col-8">
              <h5 class="card-title">Nome: {{ curriculo.name }}</h5>
              <p class="card-text">Email: {{ curriculo.email }}</p>
            </div>
            <div class="col-4 d-flex">
              <button class="btn btn-primary me-2" (click)="verCurriculo(curriculo)">Visualizar</button>
              <button class="btn btn-success me-2" (click)="verCurriculo(curriculo)">Aprovar</button>
              <button class="btn btn-danger" (click)="verCurriculo(curriculo)">Reprovar</button>
            </div>
          </div>
        </div>
      </ng-container>
    </div>
    <app-detalhes-curriculo *ngIf="curriculoSelecionado" [curriculo]="curriculoSelecionado"></app-detalhes-curriculo>
  </div>
</div>
<app-footer></app-footer>