
.centralizar{
  display: flex;
  flex-direction: column;
  margin-top: 2%;
  align-items: center;
}
button {
  background-color: #0b3469;
  color: #ffffff;
  border: none;
  padding: 10px 20px;
  cursor: pointer;
}
.container {
  margin: 5%;
  width: 95%;
  margin-bottom: 100px;
}