<app-header></app-header>
<div class="d-flex">
<app-aside></app-aside>
<div class="centralizar">
  <h1>Welcome, {{ loggedInUser }}!</h1>
  <h2>Currículos Cadastrados</h2>
  <div class="contain row" >
    <div class="col-10 col-sm-6 col-lg-4 col-xl-3 mb-2"  *ngFor="let curriculo of curriculos">
      <div class="card">
        <div class="card-body">
          <h5 class="card-title">Nome: {{ curriculo.name }}</h5>
          <p class="card-text">Email: {{ curriculo.email }}</p>
          <button class="btn btn-primary" (click)="verCurriculo(curriculo)">Visualizar</button>
        </div>
      </div>
    </div>
  </div>
  <app-detalhes-curriculo
  *ngIf="curriculoSelecionado"
  [curriculo]="curriculoSelecionado"
></app-detalhes-curriculo>
</div>
</div>
<app-footer></app-footer>
