<h2>Formulário</h2>
<div class="container">
  <form (ngSubmit)="submitForm()" #form="ngForm">
    <div class="form-group">
      <label for="nome">Nome:</label>
      <input type="text" class="form-control" id="nome" name="nome" [(ngModel)]="formData.nome" required>
    </div>
    <div class="form-group">
      <label for="cpf">CPF:</label>
      <input type="number" class="form-control" id="cpf" name="cpf" [(ngModel)]="formData.cpf" required>
    </div>
    <div class="form-group">
      <label for="email">Email:</label>
      <input type="email" class="form-control" id="email" name="email" [(ngModel)]="formData.email" required>
    </div>
    <div class="form-group">
      <label for="telefone">Telefone:</label>
      <input type="number" class="form-control" id="telefone" name="telefone" [(ngModel)]="formData.telefone" required>
    </div>
    <div class="form-group">
      <label for="escolaridade">Escolaridade:</label>
      <select class="form-control" id="escolaridade" name="escolaridade" [(ngModel)]="formData.escolaridade"
        class="btn btn-primary">
        <option id="escolaridade" value="1">Analfabeto</option>
        <option id="escolaridade" value="2">Fundamental Completo</option>
        <option id="escolaridade" value="3">Médio Completo</option>
        <option id="escolaridade" value="4">Superior Incompleto</option>
        <option id="escolaridade" value="5">Superior Completo</option>
        <option id="escolaridade" value="6">Mestrado</option>
        <option id="escolaridade" value="7">Doutorado</option>
      </select>
    </div>
    <div class="form-group">
      <label for="funcao">Função:</label>
      <input type="text" class="form-control" id="funcao" name="funcao" [(ngModel)]="formData.funcao" required>
    </div>

    <div>
    <div class="form-group">
      <label for="competencias">Lista de Competencias:</label><button >+</button><br>
        <label name="competencias_nome">Nome:</label>
        <input type="text" class="form-control" id="competencias_nome" name="competencias_nome"
          [(ngModel)]="formData.competencias" required><br>
        <label name="competencias_descricao">Descrição:</label>
        <input type="text" class="form-control" id="competencias_descricao" name="competencias_descricao"
          [(ngModel)]="formData.competencias" required><br>
        <label name="competencias_nivel">Nivel da Competencia:</label>
        <select name="competencias_nivel" id="competencias_nivel">
          <option value="1">1</option>
          <option value="2">2</option>
          <option value="3">3</option>
          <option value="4">4</option>
          <option value="5">5</option>
        </select>
      </div>
    </div>
    <button type="submit">Enviar</button>
  </form>
</div>

<!-- Nome;
  CPF;
  O campo deverá aceitar apenas valores válidos
  Data de Nascimento;
  Email;
  Telefone;
  Escolaridade, deverá ser uma lista com as seguintes opções
  Analfabeto, Fundamental Completo, Médio Incompleto, Médio Completo, Superior Incompleto, Superior Completo, Mestrado, Doutorado, Ignorado
  Função;
  Lista de Competências;
  Cada competência deverá ter uma descrição e o nível de proficiência do candidato. -->